In [3]:
#import pandas & numpy
import pandas as pd
import numpy as np
df=pd.read_csv('C:\\Users\\soura\\Desktop\\Stuff\\FAC Project\\nifty50.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\soura\\Desktop\\Stuff\\FAC Project\\nifty50.csv'

In [2]:
#print df
df

,Date,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,...,RELIANCE.NS,SBILIFE.NS,HDFCLIFE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
0,01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,...,507.674988,NaN,NaN,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
1,04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,...,497.649994,NaN,NaN,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2,05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,...,502.575012,NaN,NaN,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
3,06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,...,516.099976,NaN,NaN,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
4,07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,...,506.625000,NaN,NaN,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1281,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#drop stock columns of "SBILIFE.NS" & "HDFCLIFE.NS"
df.drop('SBILIFE.NS',axis=1,inplace=True)
df.drop('HDFCLIFE.NS',axis=1,inplace=True)

#drop null values if any exist 
df.dropna(subset=['Date'],inplace=True)

#print df 
df

,Date,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,...,ONGC.NS,SBIN.NS,RELIANCE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
0,01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,...,161.667007,227.800003,507.674988,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
1,04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,...,158.699997,220.699997,497.649994,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
2,05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,...,161.233002,217.750000,502.575012,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
3,06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,...,158.367004,216.850006,516.099976,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
4,07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,...,151.067001,209.550003,506.625000,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227,24-12-2020,478.549988,947.250000,3618.250000,2909.350098,590.450012,1236.050049,236.949997,5201.799805,919.349976,...,93.150002,266.850006,1994.150024,5184.899902,610.200012,1397.099976,175.949997,513.549988,190.000000,852.799988
1228,28-12-2020,483.549988,947.099976,3603.550049,2929.399902,586.950012,1240.300049,239.899994,5201.799805,921.799988,...,93.800003,275.200012,2003.300049,5204.100098,617.650024,1412.849976,186.350006,520.099976,191.550003,866.950012
1229,29-12-2020,483.399994,965.650024,3593.300049,2930.500000,590.599976,1250.300049,235.600006,5165.600098,935.900024,...,93.150002,277.899994,1990.050049,5200.500000,630.200012,1427.199951,183.449997,528.799988,189.699997,912.900024
1230,30-12-2020,485.399994,983.250000,3583.899902,2909.300049,584.000000,1246.800049,237.399994,5170.950195,940.700012,...,93.250000,276.899994,1995.500000,5334.149902,625.099976,1432.500000,184.149994,528.750000,190.199997,899.049988
1231,31-12-2020,483.750000,973.200012,3576.350098,2862.750000,592.349976,1255.800049,240.550003,5205.100098,946.150024,...,93.050003,274.950012,1985.300049,5295.200195,620.450012,1436.300049,183.850006,535.049988,189.850006,894.950012

In [4]:
#reset index to date using set_index function 
df.set_index('Date',inplace=True)

#print df
df

,ADANIPORTS.NS,TECHM.NS,BRITANNIA.NS,TCS.NS,SUNPHARMA.NS,INFY.NS,HINDALCO.NS,DRREDDY.NS,HCLTECH.NS,HINDUNILVR.NS,...,ONGC.NS,SBIN.NS,RELIANCE.NS,BAJFINANCE.NS,AXISBANK.NS,HDFCBANK.NS,TATAMOTORS.NS,ICICIBANK.NS,POWERGRID.NS,INDUSINDBK.NS
Date,,,,,,,,,,,,,,,,,,,,,
01-01-2016,267.549988,520.049988,1493.199951,1208.199951,815.549988,552.625000,84.900002,3108.600098,422.924988,856.549988,...,161.667007,227.800003,507.674988,609.585022,449.899994,544.375000,401.899994,239.091003,141.000000,963.849976
04-01-2016,257.950012,516.400024,1486.300049,1184.800049,799.099976,539.450012,80.750000,3056.000000,422.975006,859.000000,...,158.699997,220.699997,497.649994,605.244995,438.399994,535.250000,377.049988,232.317993,140.949997,934.200012
05-01-2016,255.699997,521.900024,1483.349976,1174.469971,800.500000,537.025024,82.599998,3070.649902,421.399994,847.950012,...,161.233002,217.750000,502.575012,599.784973,436.450012,531.200012,374.450012,233.363998,139.149994,935.250000
06-01-2016,251.800003,525.099976,1500.849976,1190.800049,791.950012,534.674988,80.550003,3046.250000,420.700012,843.049988,...,158.367004,216.850006,516.099976,610.724976,430.700012,533.549988,365.899994,227.363998,139.500000,943.950012
07-01-2016,245.000000,510.799988,1473.280029,1185.619995,783.799988,525.400024,76.650002,2991.800049,412.524994,820.250000,...,151.067001,209.550003,506.625000,610.630005,409.250000,528.099976,343.549988,224.317993,138.100006,925.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24-12-2020,478.549988,947.250000,3618.250000,2909.350098,590.450012,1236.050049,236.949997,5201.799805,919.349976,2402.250000,...,93.150002,266.850006,1994.150024,5184.899902,610.200012,1397.099976,175.949997,513.549988,190.000000,852.799988
28-12-2020,483.549988,947.099976,3603.550049,2929.399902,586.950012,1240.300049,239.899994,5201.799805,921.799988,2388.899902,...,93.800003,275.200012,2003.300049,5204.100098,617.650024,1412.849976,186.350006,520.099976,191.550003,866.950012
29-12-2020,483.399994,965.650024,3593.300049,2930.500000,590.599976,1250.300049,235.600006,5165.600098,935.900024,2384.300049,...,93.150002,277.899994,1990.050049,5200.500000,630.200012,1427.199951,183.449997,528.799988,189.699997,912.900024
30-12-2020,485.399994,983.250000,3583.899902,2909.300049,584.000000,1246.800049,237.399994,5170.950195,940.700012,2406.600098,...,93.250000,276.899994,1995.500000,5334.149902,625.099976,1432.500000,184.149994,528.750000,190.199997,899.049988
31-12-2020,483.750000,973.200012,3576.350098,2862.750000,592.349976,1255.800049,240.550003,5205.100098,946.150024,2395.399902,...,93.050003,274.950012,1985.300049,5295.200195,620.450012,1436.300049,183.850006,535.049988,189.850006,894.950012

In [5]:
name = list(df)
name

['ADANIPORTS.NS',
 'TECHM.NS',
 'BRITANNIA.NS',
 'TCS.NS',
 'SUNPHARMA.NS',
 'INFY.NS',
 'HINDALCO.NS',
 'DRREDDY.NS',
 'HCLTECH.NS',
 'HINDUNILVR.NS',
 'TATASTEEL.NS',
 'NTPC.NS',
 'CIPLA.NS',
 'ITC.NS',
 'BPCL.NS',
 'WIPRO.NS',
 'JSWSTEEL.NS',
 'GAIL.NS',
 'DIVISLAB.NS',
 'ULTRACEMCO.NS',
 'NESTLEIND.NS',
 'ASIANPAINT.NS',
 'EICHERMOT.NS',
 'IOC.NS',
 'GRASIM.NS',
 'BAJAJ-AUTO.NS',
 'HDFC.NS',
 'M&M.NS',
 'UPL.NS',
 'SHREECEM.NS',
 'MARUTI.NS',
 'TITAN.NS',
 'BAJAJFINSV.NS',
 'KOTAKBANK.NS',
 'COALINDIA.NS',
 'BHARTIARTL.NS',
 'HEROMOTOCO.NS',
 'LT.NS',
 'ONGC.NS',
 'SBIN.NS',
 'RELIANCE.NS',
 'BAJFINANCE.NS',
 'AXISBANK.NS',
 'HDFCBANK.NS',
 'TATAMOTORS.NS',
 'ICICIBANK.NS',
 'POWERGRID.NS',
 'INDUSINDBK.NS']

In [6]:
def CAGR(df,name):
    
    #USING df[name] and iloc function, identify the initial price of stock 
    start_value = df[name].iloc[0]
    
    #Like we did for Start Value, USING df[name] and iloc function, identify the final price of stock 
    end_value = df[name].iloc[-1]
    
    #Specify the Number of years we are taking into account 
    number_of_periods = 5
    
    #WRITE THE CAGR FUNCTION USING START VALUE, END VALUE AND NUMBER OF PERIODS
    cagr=(end_value/start_value)**(1/number_of_periods) -1
    
    return cagr

In [7]:
def volatility(df,name):
    df[name] = df[name].pct_change()
    vol = df[name].std()*np.sqrt(252)
    return vol

In [8]:
def sharpe(x,y,rf):
    
    #Write down the Sharpe Ratio formula using CAGR, Volatility and Risk-Free rate
    sr=(x-rf)/y
    
    return sr

In [9]:
cagr = []
vol = []
sr = []
rf = 0.06
for i in range(len(name)):
    x = CAGR(df, name[i])
    y = volatility(df, name[i])
    z = sharpe(x,y,rf)
    cagr.append(x)
    vol.append(y)
    sr.append(z)

#PRINT CAGR, VOL, SR LIST
print(cagr)
print(vol)
print(sr)

[0.12575324761059292, 0.1335257831740111, 0.19087015652533856, 0.18830772910283855, -0.061950928599497024, 0.17841427162309853, 0.23157122630596683, 0.1085948222727311, 0.17473344086895182, 0.22835829474575053, 0.21286879881334486, -0.03773206918383165, 0.045834147386452306, -0.0086993664944649, 0.049942912251825344, 0.13105079386933616, 0.30398617314552445, 0.034564095378841087, 0.27007865342299886, 0.1336730250379432, 0.2602432020330765, 0.25762236263806315, 0.0781794053952336, -0.03433781363870736, 0.09713367731672795, 0.06463991777313494, 0.15248420898467407, 0.026367083872692154, 0.09698567031899152, 0.16100701119859018, 0.10522890428762843, 0.3480352475985933, 0.3503314055401727, 0.22370843047467326, -0.16517872590446714, 0.10269147325429495, 0.02974397048329247, 0.08420237118368368, -0.10459606527305187, 0.03834100142164143, 0.3135544415356013, 0.5408828422484675, 0.06639515198245749, 0.2141417706410338, -0.14479716911128937, 0.1748061863104895, 0.061300333142562335, -0.014724082967010332]
[0.36406396639941624, 0.3094131061385233, 0.2661718836836016, 0.25951252670140756, 0.3300734337918569, 0.2849667361943835, 0.4181625534093802, 0.29221176499436213, 0.27701586809504847, 0.2352220207854024, 0.38306877362469566, 0.2629243581017975, 0.2831661306849064, 0.2754742753674827, 0.3880175014981018, 0.25778320440496916, 0.3621287922139418, 0.33778101529655763, 0.35769354759991023, 0.28916636738840346, 0.25167133785812834, 0.25653765139260215, 0.3447396322071232, 0.33174072522401765, 0.33354057846731916, 0.26146500588465077, 0.29896588965897836, 0.3209085699177917, 0.37094991108689096, 0.3028263715634158, 0.31468574428787116, 0.3411553536369013, 0.36785771289664837, 0.2841071729683844, 0.29380808528434305, 0.34582796402732824, 0.3061988377070274, 0.28917025347710273, 0.35187438128352966, 0.383879498223002, 0.3080330334906189, 0.418347863878366, 0.38449468269635784, 0.23664745760908829, 0.48175275044790183, 0.3680598665147887, 0.24277082782540205, 0.47193006037216595]
[0.18060905137328184, 0.23762982793978296, 0.49167535922353034, 0.49441824922181155, -0.3694660524433446, 0.4155371718273987, 0.41029792100489443, 0.16630001969177619, 0.414176421220697, 0.7157420643849798, 0.39906358685115684, -0.3717117344677222, -0.05002664894733038, -0.24938577804704246, -0.025919160113513213, 0.2756222773835864, 0.6737552450714277, -0.07530294323624805, 0.5873146296113159, 0.25477729551786643, 0.7956535843027035, 0.7703444760068543, 0.052733726258404855, -0.28437212095380504, 0.1113318130206648, 0.017745846169494314, 0.3093470264790679, -0.10480529122648145, 0.09970529501037685, 0.3335476057686673, 0.14372721074474068, 0.8442935000960153, 0.7892491997897647, 0.5762206872998973, -0.7664143268438054, 0.12344714047161716, -0.0988117059596962, 0.08369592270527261, -0.46776939165805703, -0.05642134752863644, 0.82314042316284, 1.1494808119500366, 0.016632614884580486, 0.6513561235703471, -0.4251084584797544, 0.3119225885658375, 0.00535621661881683, -0.1583371970585697]

#### IDENTIFY THE TOP 15 STOCKS LOOKING AT THE SHARPE RATIO LIST AND MAKE A LIST OF THE STOCK NAMES

In [10]:
sr

[0.18060905137328184,
 0.23762982793978296,
 0.49167535922353034,
 0.49441824922181155,
 -0.3694660524433446,
 0.4155371718273987,
 0.41029792100489443,
 0.16630001969177619,
 0.414176421220697,
 0.7157420643849798,
 0.39906358685115684,
 -0.3717117344677222,
 -0.05002664894733038,
 -0.24938577804704246,
 -0.025919160113513213,
 0.2756222773835864,
 0.6737552450714277,
 -0.07530294323624805,
 0.5873146296113159,
 0.25477729551786643,
 0.7956535843027035,
 0.7703444760068543,
 0.052733726258404855,
 -0.28437212095380504,
 0.1113318130206648,
 0.017745846169494314,
 0.3093470264790679,
 -0.10480529122648145,
 0.09970529501037685,
 0.3335476057686673,
 0.14372721074474068,
 0.8442935000960153,
 0.7892491997897647,
 0.5762206872998973,
 -0.7664143268438054,
 0.12344714047161716,
 -0.0988117059596962,
 0.08369592270527261,
 -0.46776939165805703,
 -0.05642134752863644,
 0.82314042316284,
 1.1494808119500366,
 0.016632614884580486,
 0.6513561235703471,
 -0.4251084584797544,
 0.3119225885658375,
 0.00535621661881683,
 -0.1583371970585697]

In [11]:
final=pd.DataFrame(
    {'Name': name,
     'SR': sr,
     })
final

             Name        SR
0   ADANIPORTS.NS  0.180609
1        TECHM.NS  0.237630
2    BRITANNIA.NS  0.491675
3          TCS.NS  0.494418
4    SUNPHARMA.NS -0.369466
5         INFY.NS  0.415537
6     HINDALCO.NS  0.410298
7      DRREDDY.NS  0.166300
8      HCLTECH.NS  0.414176
9   HINDUNILVR.NS  0.715742
10   TATASTEEL.NS  0.399064
11        NTPC.NS -0.371712
12       CIPLA.NS -0.050027
13         ITC.NS -0.249386
14        BPCL.NS -0.025919
15       WIPRO.NS  0.275622
16    JSWSTEEL.NS  0.673755
17        GAIL.NS -0.075303
18    DIVISLAB.NS  0.587315
19  ULTRACEMCO.NS  0.254777
20   NESTLEIND.NS  0.795654
21  ASIANPAINT.NS  0.770344
22   EICHERMOT.NS  0.052734
23         IOC.NS -0.284372
24      GRASIM.NS  0.111332
25  BAJAJ-AUTO.NS  0.017746
26        HDFC.NS  0.309347
27         M&M.NS -0.104805
28         UPL.NS  0.099705
29    SHREECEM.NS  0.333548
30      MARUTI.NS  0.143727
31       TITAN.NS  0.844294
32  BAJAJFINSV.NS  0.789249
33   KOTAKBANK.NS  0.576221
34   COALINDIA.NS -0.766414
35  BHARTIARTL.NS  0.123447
36  HEROMOTOCO.NS -0.098812
37          LT.NS  0.083696
38        ONGC.NS -0.467769
39        SBIN.NS -0.056421
40    RELIANCE.NS  0.823140
41  BAJFINANCE.NS  1.149481
42    AXISBANK.NS  0.016633
43    HDFCBANK.NS  0.651356
44  TATAMOTORS.NS -0.425108
45   ICICIBANK.NS  0.311923
46   POWERGRID.NS  0.005356
47  INDUSINDBK.NS -0.158337

In [12]:
stocks=final.nlargest(15, ['SR'])
stocks.set_index('Name',inplace=True)
stocks

                     SR
Name
BAJFINANCE.NS  1.149481
TITAN.NS       0.844294
RELIANCE.NS    0.823140
NESTLEIND.NS   0.795654
BAJAJFINSV.NS  0.789249
ASIANPAINT.NS  0.770344
HINDUNILVR.NS  0.715742
JSWSTEEL.NS    0.673755
HDFCBANK.NS    0.651356
DIVISLAB.NS    0.587315
KOTAKBANK.NS   0.576221
TCS.NS         0.494418
BRITANNIA.NS   0.491675
INFY.NS        0.415537
HCLTECH.NS     0.414176

In [13]:
answer=stocks.index
answer

Index(['BAJFINANCE.NS', 'TITAN.NS', 'RELIANCE.NS', 'NESTLEIND.NS',
       'BAJAJFINSV.NS', 'ASIANPAINT.NS', 'HINDUNILVR.NS', 'JSWSTEEL.NS',
       'HDFCBANK.NS', 'DIVISLAB.NS', 'KOTAKBANK.NS', 'TCS.NS', 'BRITANNIA.NS',
       'INFY.NS', 'HCLTECH.NS'],
      dtype='object', name='Name')